@import '../../../styles/utils/animations.module.scss';

.table{
    background-color: white;
    border-radius: 15px;
    margin-top: 20px;
}
.fadeinContent{
    animation: fadeIn linear 1s;
}
.loader{
    position: absolute;
    top: 50%; right: 50%;
    transform: translate(50%,-50%);
}
